
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

/* Style on all the items I have on the page */
*{
    font-family: "Playpen Sans", cursive;
    margin:0;
    padding:0;
    /*border-box vs contant-box: (study)*/
    box-sizing:border-box;
    /* By changing the performance of the page, make it flexible */
    scroll-behavior:smooth;
}
header{
    background-color:rgb(195, 176, 145);
    width:100%;
    /* هاي الخاصية بتخلي ال header ثابت في راس الصفحة لما اعمل scrolling  */
    position:fixed;
    /* هاي الخاصية بتخلي  بس header هو اللي ظاهر ما يطلع فوقو اشي  */
    z-index:999;
    /*هاي الخاصية عشان ارتب العناصر جنب بعض  */
    display:flex;
    /* هاي الخاصية بتعمللي مسافة بين اللوغو وباقي العناصر  */
    justify-content:space-between;
    /* بدي ياهم يكونو بالوسط  */
    align-items:center;
    /* بساعد ع التحكم بالمسافات  */
    /* shorthands :button/top  left/rigth */
    padding:10px 200px;
}
.logo{
    /* خاصية لازالت الخط من تحت الكلمة */
    text-decoration:none;
    /* هون بستخدم em مش px عشان تخلي السايز متناسب مع البودي  */
    font-size:1.8em;
    color:RGB(130,102,68);
    /* عشان يخلي الحروف كلها كبيرة  */
    text-transform:uppercase;
    /* عشان انصح الكلمة  */
    font-weight:700px;
}
.nav1 a{
    text-decoration:none;
    font-size:1.1em;
    color:RGB(130,102,68);
    font-weight:500px;
    /* عشان اعمل تباعد بينهم  */
    padding-left:30px;
}
/* هاي خاصة بس انس ااشر ويتغير اللون عندي  */
.nav1 a:hover{
    color:whitesmoke
}
/* هاي بتتنفذ ع كل السكشنات عندي  */
section{
    padding:100px 200px;
}
.main{
    width:100%;
    /* اقل حاجة تكون القيمة اللي هون وبتتغير بناءا ع العناصر اللي جواها  */
    /* vh:view port */
    min-height:100vh;
    display:flex;
    /* ما بقد اعملها الا لما اعمل ديسبلاي فليكس  */
    align-items:center;
    /* هاي لو بدي احط خلفية صوؤة  */
    /* background:url() no-repeat;
    background-size:cover; 
    backgroung-position:center;
    (لما اعمل سكرول لتحت ع الصوؤة بتضل ثابتة ما بتتحرك)
     backgroung-attachment:fixed;
    */
    background-color:whitesmoke ;
}
.main h2{
    color: #a08e71;
    font-size:1.4em ;
    font-weight:700;
}
.main h2 span{
    /* لانو ال سبان  عنصر ان لاين وبدي اخليه يتنفذ بالبلوك */
    display: inline-block;
      color:#826644 ;
      font-size:3em;
      font-weight: 600;     
      margin-top:10px;        
}
.main h3{
    color:#a08e71;
    font-size:2em;
    font-weight:700 ;
    /* المسافات اللي بدي  اعملها بين الاحرف  */
    letter-spacing:1px;
    margin-top:10px;
    margin-bottom:30px;
}
.btn{
    text-decoration:none ;
    color: whitesmoke;
    font-size: 1.1em;
    background-color:#826644;
    border-radius:8px;
    font-weight:600;
    /* لانو يعتبر انلاين */
    display:inline-block;
    padding:0.9375em 2.1875em;
    letter-spacing:1px;
    margin-bottom:40px;
    /* التحول وقت اللي بدي يصير التحول تدريجي */
    transition:0.7s ease;
}
.btn:hover{
    background-color:#a08e71;
    /* عشان يكبر شوي لما ااشر عليه */
    /* على  الاكس والواي  */
    transform:scale(1.1);
}
.media a{
    color:#826644;
    font-size: 1.7em;
    padding-right:30px;
}
.title{
    /*  لانها بلوك ايلمينت وبدي اجيبها ع الوسط عشان هيك بعمل ديسبلاي فليكس باول خطوتين خليتها بالوسط */
    display:flex;
    justify-content: center;
    color:#826644;
    font-size:2.2em;
    font-weight:800;
    margin-bottom:30px;
}
.content{
    display:flex;
    justify-content:center;
    /* هاد بيحدد هل العناصر حيكونو جنب بعض او تحت بعض  */
    flex-direction: row;
    /* باي ديفولت بتكون نوراب عشان هيك بدي احط هاي  */
    /* لما بتيحها بتصير تزبط معي عشان السايز */
    flex-wrap:wrap;
}
.cart{
    background-color: whitesmoke;
    width: 21.25em;
    /* هسا هاي بتعمللي الظل حولين البوكس تبعي  */
    /* بيستقبل 4 قيم 
    0:هل بدي ظل فوق او تحت
    5:هل بدي يمين او يسار اذا يمين بحط قيمة موجبة اذا يسار سالبة 
    25:قديش بدك ياه يكون واضح الظل
    rgba 
    */
    box-shadow :0 5px 25px rgba(1,1,1,15%);
    border-radius:10px ;
    padding:25px;
    margin:15px;
    transition:0.7s ease;
}
.cart:hover{
    /* background-color:#a08e71; */
    /* عشان يكبر شوي لما ااشر عليه */
    /* على  الاكس والواي  */
    transform:scale(1.1);
}
.icon{
    color:#a08e71;
    font-size: 8em;
    text-align:center;
}
.cart h3{
    color:#a08e71;
    font-size:1.2em;
    text-align:center;
    font-weight:700;
    margin: 10px;
}
.info{
    text-align: center;
}
.tabs{
    background-color:whitesmoke;
}
/*  بدي اعمل ازاحة بين العنوان والتابس  بس لهاي الجزئية مش كل السكشنات */
.tabs .content{
    margin-top: 30px;
}
/* هاي للتاب بشكل عام اللي ب جزئية بروجيكت  */
.tab{
    background-color: whitesmoke;
    /* ممكن اعملها بوردر او ظلال زي قبل  */
    border:1px solid black;
    min-height: 14em;
    width: 23em;
    overflow:hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.tab:hover {
    transform: scale(1.1);
} 
/* الشفافية لما ااشر ع التاب يطلع ابيض شوي شفاف  */
.tab:hover .img{
    opacity: 0.9;
}
.img img{
    /* هون خلص زبطت الصوؤة  */
    width: 100%;
}
.infor{
    padding: 1em;
}
.p{
    font-size: 0.8em;
    color: black;
}
.title1{
    /* عشان اعمل مسافة بين الزر وبين العنوان  */
    display:flex;
    justify-content:space-between;
    text-transform: capitalize;
    font-weight:800;
    margin-top: 10px;
    color:#826644;
}
.btn1{
    text-decoration: none;
    color:#826644;
};
.btn1:hover{
    color:#a08e71;
}
/* هون انا ححدت بالضبط اي ايكون لانو الايكون مشتركة بكلاس  */
.cards-contents .icon{
   font-size: 4.5em;
}
/* نفس الفكرة حددت بالضبط +بس غيرت اللون هون */
.cards-contents .info h3{
    color: black;

}
.cards-contents .info p{
    font-size:1.1em;
}